# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
lib/
coverage/
dist/
.trash/

.idea/
.vscode/

.DS_Store
.merlin
.bsb.lock

*.log
lib/bs/build.ninja
lib/bs/.bsdeps
lib/bs/.compiler.log
lib/bs/.bsbuild
